## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
*.swp

## NuGet
**/packages/
*.nupkg
**/[Pp]ackages/
project.lock.json
*.nuget.props
*.nuget.targets

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.dbmdl
*.jfm
launchSettings.json

## Rider
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
desktop.ini

## Temp
*.tmp
*.cache
